.bookings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 70%;
  margin: 0 auto 5rem;
}

.booking {
  border-radius: 9px;
  background-color: #f5f7ff;
  box-shadow: 0 3px 11px -7px #b3c3ff;
  transition: box-shadow 300ms ease-in, transform 200ms ease;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 5px 14px -5px #b3c3ff;
    transform: scale(1.01);
  }

  .hotel-image {
    width: 100%;
    border-radius: 9px 9px 0px 0px;
    height: 27vh;
    object-fit: cover;
  }

  .hotel-info {
    padding: 0.5rem 1rem 0.8rem;

    h1 {
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0.5rem 0 0.3rem 0;
    }

    .hotel-location {
      color: #474747;
      font-weight: 300;
      margin: 0 0 0.8rem;
    }

    .rating {
      margin: 0.7rem 0;
      color: #ffd446;
    }

    p {
      font-weight: 400;
    }

    .room-name {
      color: #305cf8;
    }

    .booked-on {
      margin: 0.5rem 0;
      font-weight: 400;
      color: #5e5e5e;
    }
  }
}

.room-checkout {
  display: flex;
  // flex-direction: column;
  width: 70%;
  margin: 4vh 0;
  // background: #f5f7fd;
  // padding: 1rem;
  background: #f5f7fd;
  border-radius: 10px;

  button {
    background: #305cf8;
    padding: 12px;
    color: #fff;
    margin-top: 1rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 6px;
  }

  img {
    width: 52%;
    height: 45vh;
    object-position: center;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
  }

  .hotel-data {
    // display: inline;
    width: 48%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    .fields {
      flex: 1;
      .field {
        display: flex;
        margin: 1rem 0;
        font-size: 1.2rem;
      }
    }
  }
}
