.hotel-head {
  height: 57vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hotel-title {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px) brightness(80%);
  display: grid;
  place-items: center;
  padding: 5vh 13vw;

  h1 {
    color: #fff;
    font-size: 3.6rem;
  }
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.hotel-page-info {
  height: 100%;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
  justify-content: space-between;
}

.hotel-left {
  width: 47%;

  .hotel-about {
    h1 {
      margin: 1rem 0 0.4rem;
      font-size: 2.4rem;
      font-weight: 500;
    }

    .location {
      color: #474747;
      font-weight: 400;
      margin: 0 0 0.8rem;
    }

    p {
      line-height: 1.6;
      color: #495057;
      font-size: 1.18rem;
      font-weight: 350;
    }

    button {
      margin: 1rem 0.3rem 1rem 0;
      padding: 12px 25px;
      background: #305cf8;
      border: 0;
      font-size: 1.08rem;
      border-radius: 5px;
      letter-spacing: 0.8px;
      color: #fff;
    }

    .covid {
      &-danger {
        width: fit-content;
        padding: 0.3rem 0.7rem;
        background: red;
        border-radius: 10px;

        p {
          font-size: 1rem;
          font-weight: 400;
          color: #fff;
        }
      }

      &-medium {
        width: fit-content;
        padding: 0.3rem 0.7rem;
        background: rgb(255, 179, 16);
        border-radius: 10px;

        p {
          font-size: 1rem;
          font-weight: 400;
          color: #fff;
        }
      }

      &-good {
        width: fit-content;
        padding: 0.3rem 0.7rem;
        background: rgb(80, 223, 52);
        border-radius: 10px;

        p {
          font-size: 1rem;
          font-weight: 400;
          color: #fff;
        }
      }
    }

    .rating {
      margin: 0.7rem 0;
      font-size: 1.2rem;
      color: #ffd446;
    }
  }

  #location-map {
    width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
    height: 32vh;
  }
}

.hotel-right {
  width: 49%;

  .hotel-room {
    margin: 1rem 0;
    background: #f1f4fe;
    border-radius: 7px;
    display: flex;

    .hotel-img {
      padding-top: 38%;
      width: 43%;
      border-radius: 5px 0 0 5px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .hotel-room-info {
      width: 57%;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .hotel-room-head {
        h1 {
          color: #000;
          font-weight: 500;
          font-size: 2rem;
        }

        p {
          color: #305cf8;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }

      p {
        color: #495057;
        font-size: 1.1rem;
        line-height: 1.6;
        margin: 0.2rem 0;
      }

      .price {
        font-weight: 600;
      }

      .book {
        background: #305cf8;
        width: fit-content;
        padding: 0.5rem 0.9rem;
        font-size: 1.05rem;
        border-radius: 8px;
        color: #fff;
        margin: 0.5rem 0;
      }
    }
  }
}

.directions {
  margin: 3rem 0;
}

#direction-map {
  width: 80%;
  margin: 1rem auto 3rem;
  border-radius: 10px;
  height: 60vh;
}
