<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.min.css">
  <title><%= `${room.name} | ${room.hotel.name}` %></title>
</head>

<body class="hotel-create">

  <button id="checkout-button">Book</button>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const stripe =
      Stripe('pk_test_51HFjqKKaWtllu6cPzKBPF57PCkFWpDJD5rVscsB5wgONo98XERSJyvXPknBW3n71UBR5M9gt8yF5md7Nio6Pesp600UK7dwmEr');

    const checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
      stripe.redirectToCheckout({
        sessionId: '<%= session_id %>'
      }).then(function (result) {
        console.error(result.error.message)
      });
    });
  </script>
</body>

</html>