<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="icon" href="/assets/favicon.png">
  <title>Add a hotel | Travor</title>
</head>

<body class="hotel-create">

  <%- include('../partials/header.ejs') %>

  <div class="page-head">Add Hotel</div>

  <div class="hotel-form-wrapper">
    <form action="/hotels/create" method="post" class="hotel-form" enctype="multipart/form-data">
      <label>
        <span>Hotel name</span>
        <input placeholder="Taj Lake Palace" type="text" id="name" name="name" required>
      </label>
      <label>
        <span>Hotel description</span>
        <textarea
          placeholder="Taj Lake Palace, Udaipur is located midst an island in Pichola lake and offers breath-taking views of City Palace. "
          type="text" id="description" name="description" required></textarea>
      </label>
      <label>
        <span>Location (City and State)</span>
        <input placeholder="Pichola, Udaipur" type="text" name="area" id="area" required>
      </label>
      <label>
        <span>Hotel image</span>
        <div class="image-area">
          <input type="file" name="image" id="file" required>
          <img src id="file-image" />
        </div>
      </label>

      <button type="submit">Next</button>
    </form>
  </div>

  <%- include('../partials/footer.ejs') %>

  <script>
    const fileImage = document.querySelector('#file-image')
    const fileInput = document.querySelector('#file')

    fileInput.addEventListener('input', function () {
      if (this.files && this.files[0]) {
        const reader = new FileReader();

        reader.onload = (e) => {
          fileImage.src = e.target.result
          fileImage.style.display = 'block'
        }

        reader.readAsDataURL(this.files[0])
      }
    })
  </script>

</body>

</html>