<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <title>Document</title>
</head>

<body>
  {{> _header}}

  <div class="user-area">

  </div>
  <h1 class="page-head">Your bookings</h1>

  <div class="bookings">
    {{!-- {{#each bookings}}
    <div class="booking">

    </div>
    {{/each}} --}}

    <div class="booking">
      <img src="/assets/hotel-dummy.jpeg" alt="" class="hotel-image">
      <div class="hotel-info">
        <h1>Taj hotel</h1>
        <div class="rating">
          {{{stars '3.4'}}}
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, fuga.</p>
      </div>
    </div>
    <div class="booking">
      <img src="/assets/hotel-dummy.jpeg" alt="" class="hotel-image">
      <div class="hotel-info">
        <h1>Taj hotel</h1>
        <div class="rating">
          {{{stars '3.4'}}}
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, fuga.</p>
      </div>
    </div>
    <div class="booking">
      <img src="/assets/hotel-dummy.jpeg" alt="" class="hotel-image">
      <div class="hotel-info">
        <h1>Taj hotel</h1>
        <div class="rating">
          {{{stars '3.4'}}}
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, fuga.</p>
      </div>
    </div>
    <div class="booking">
      <img src="/assets/hotel-dummy.jpeg" alt="" class="hotel-image">
      <div class="hotel-info">
        <h1>Taj hotel</h1>
        <div class="rating">
          {{{stars '3.4'}}}
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, fuga.</p>
      </div>
    </div>

  </div>
</body>

</html>