<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.min.css">
  <title>Login</title>
</head>

<body class="login-wrapper">

  <div class="login-form">
    <h1 class="title">Travel</h1>
    <h2>Welcome</h2>
    <p class="header">Sign in to book for the best deals on the most luxurious hotels around</p>
    <a href="/auth/google" class="signin">
      <img src="/assets/logo.svg" alt="Google">
      <span>Sign in with Google</span>
    </a>
  </div>

</body>

</html>