<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="icon" href="/assets/favicon.png">
  <title>Login | Travor</title>
</head>

<body class="login-wrapper">

  <div class="login-form">
    <h1 class="title">Travor</h1>
    <h2>Welcome</h2>
    <p class="header">Sign in to book the best hotels in your city at prices you never thought of!</p>
    <a href="/auth/google" class="signin">
      <img src="/assets/logo.svg" alt="Google">
      <span>Sign in with Google</span>
    </a>
  </div>

</body>

</html>