@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i,900&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f4fe;
  color: #f8f8f8;
  min-height: 7vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.logo a {
  font-size: 1.6rem;
  color: #305cf8;
  display: block;
  font-weight: 500;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-transform: lowercase;
  text-decoration: none;
  color: #305cf8;
  font-size: 1rem;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.hamburger {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page-head {
  text-align: center;
  margin: 3rem 0;
  font-weight: 700;
  font-size: 3.1rem;
}

.login-wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background-color: #f1f4fe;
}

.login-form {
  background: #fdfdfd;
  border-radius: 10px;
  color: #232323;
  width: 30%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 20px 40px;
}

.login-form .title {
  font-size: 2.5rem;
}

.login-form .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 220px;
  color: #305cf8;
  height: auto;
  font-size: 15px;
  border: 1px solid #c7d4ff;
  background: #dce4ff;
  padding: 13px 27px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}

.login-form .signin:hover {
  background: #c7d4ff;
}

.login-form p {
  line-height: 1.6;
  font-family: 'Karla', sans-serif;
  font-size: 1.17rem;
  margin-bottom: 25px;
}

.login-form h2 {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 5px;
  color: #305cf8;
  margin: 5px 0 3px;
}

.login-form h1 {
  font-size: 2.3rem;
  font-weight: 900;
  color: #000;
  letter-spacing: 1.2px;
  padding: 5px;
  margin: 19px 0 0;
}

.bookings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 80%;
  margin: 0 auto 5rem;
}

.booking {
  border-radius: 9px;
  background-color: #f5f7ff;
  -webkit-box-shadow: 0 3px 11px -7px #b3c3ff;
          box-shadow: 0 3px 11px -7px #b3c3ff;
  -webkit-transition: -webkit-box-shadow 300ms ease-in, -webkit-transform 200ms ease;
  transition: -webkit-box-shadow 300ms ease-in, -webkit-transform 200ms ease;
  transition: box-shadow 300ms ease-in, transform 200ms ease;
  transition: box-shadow 300ms ease-in, transform 200ms ease, -webkit-box-shadow 300ms ease-in, -webkit-transform 200ms ease;
  cursor: pointer;
}

.booking:hover {
  -webkit-box-shadow: 1px 5px 14px -5px #b3c3ff;
          box-shadow: 1px 5px 14px -5px #b3c3ff;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.booking .hotel-image {
  width: 100%;
  border-radius: 9px 9px 0px 0px;
  height: 27vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.booking .hotel-info {
  padding: 0.3rem 1rem 1.3rem;
}

.booking .hotel-info h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.booking .hotel-info .rating {
  margin: 0.7rem 0;
  color: #ffd446;
}

.booking .hotel-info p {
  font-weight: 400;
}
