<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="icon" href="/assets/favicon.png">
  <title>404 | Travor</title>
</head>

<body class="login-wrapper">

  <div class="login-form">
    <h1 class="title">404</h1>
    <h2 style="margin-bottom: 0.4rem;">Page not found</h2>
    <p class="header">The page you are looking for isn't there</p>
    <a href="/" class="signin">Go to Dashboard</a>
  </div>

</body>

</html>